strands-agents>=1.14.0
strands-agents-tools
uv
boto3
bedrock-agentcore
bedrock-agentcore-starter-toolkit
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-auto-instrumentation
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-boto3sqs
opentelemetry-instrumentation-botocore